body {
    background: #d4ebf2; /*Color de fondo*/
    font-family: 'Arial', sans-serif; /*Tipo de letra*/
    margin: 0; /*Remover margenes de todo el body*/
    overflow-y: scroll;
}

header {
    width: 100%; /*Ocupa el 70% de la página*/
    position: fixed; /*Permite que la barra celeste se ubique sobre panel*/
    margin-left: auto; /*Se ubica en la parte superior derecha*/
    z-index: 1000; /*Barra celeste al frente*/  
    top: 0;
}

header .barra-superior {
    background-color: #41ade7;
    height: auto;
}

header .barra-negra {
    position: relative;
    height: 5vh;
    background-color: #222222;
}

header .boton-CIGEFI {
    position: absolute;
    background-color: #333333;
    width: 30%;
    height: 80%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    border: 2px solid transparent;
    transition: border-color 0.2s ease;
}

header .boton-CIGEFI:hover {
    border-color: white;
}

.boton-CIGEFI p {
    text-align: center;
    max-width: 100%;
    color: white;
    padding: 0;
    margin: 0;
}

header .barra-gris {
    top: 15vh;
    width: 100%;
    height: 0.5vh;
    background-color: #86828b;
}

header .barra-superior {
    background-color: #41ade7;
    height: 125px;
}

header #firma {
    width: 350px;
    margin-left: 10%;
    margin-bottom: 10px;
    float: left;
}

header #logo-cigefi {
    float: left;
    position: relative;
    width: 300px;
    margin: 3px;
    right: 3%;
    margin-left: 10%;
}

h1 {
    font-size: 14px; /* Tamaño de letra para h1 en dispositivos pequeños */
}

h2 {
    font-size: 12px; /* Tamaño de letra para h2 en dispositivos pequeños */
}

td, th {
    font-size: 12px; /* Tamaño de fuente deseado */
}

.titulo-pagina {
    margin-top: 190px;
    float: right;
    width: 70%;
    text-align: center;
    margin-right: 2.5%;
    margin-bottom: 2%;
    border: 2px solid #000;
    background-color: #41ade7;
}

.titulo-pagina h1 {
    font-size: 14px;
}

.select i {
    font-size: 18px;
}

.select2 i {
    font-size: 18px;
}

.titulo {
    font-size: 10px;
}

.titulo2 {
    font-size: 10px;
    font-weight: bold;
}

.titulo-opcion, .titulo-opcion2, .titulo-opcion3, .titulo-opcion4, .titulo-opcion5, .titulo-opcion6, .titulo-opcion7{
    font-size: 10px;
    white-space: normal;
    word-wrap: break-word;
}

.marco {
    width: 70%; /* Ancho del marco */
    border: 2px solid #000; /* Borde */
    background-color: white; /* Fondo blanco */
    margin-bottom: 50px;
    margin-right: 2.5%;
    float:right;
}

#info {
    background-color: #41ade7;
    position: relative;
    top: 10px;
    text-align: center;
    margin: 3% auto;
    border: 2px solid black;
    max-width: 40%;
}

#info h1 {
    font-size: 12px;
    color: black; /* Color del texto */
}

#titulo-info {
    margin: auto;
    width: 90%;
    text-align: center; /* Texto centrado */
    color: black;
    padding-bottom: 2%;
}

#informacion {
    position: relative; 
    text-align: center;
    overflow-x: auto; 
}

.tabla_info {
    width: 90%;
    height: 30vh;
    margin: 4% 5% 2%;
    border: 2px solid black; /* Borde sólido*/
    border-collapse: collapse;
}

.casilla_color {
    background-color: #41ade7;
    color: black;
}

.casilla_color_2 {
    background-color: #d4ebf2;
    color: black;
}

.imagenes {
    width: 70%;
    top: 950px;
    border: 2px solid #000000; /* Agrega el borde al elemento con el id "imagen" */
    margin-bottom: 50px;
    float:right;
    text-align: center;
    background-color: white; /* Fondo blanco */
    margin-right: 2.5%;
}

#imagen {
    display: block;
    width: 95%;
    margin: auto;
}

#imagen_html {
    display: none; 
    width: 95%; 
    height: 600px;
    margin: auto;
}

#descripcion {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 10px;
    text-align: justify;
}

.carac-lluvias {
    max-width: 70%;
    border: 2px solid #000000; 
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 3%;
    float:right;
    text-align: center;
    display: none;
    background-color: white; /* Fondo blanco */
    margin-right: 2.5%;
}

.descripcion-lluvias {
    padding-top: 3%;
    padding-bottom: 3%;
    margin: auto;
    width: 90%;
    font-size: 10px;
    text-align: justify; /* Texto centrado */
}

#informacion_2 {
    position: relative; 
    overflow-x: auto; 
}

#informacion_3 {
    position: relative; 
    overflow-x: auto; 
}

.tabla_lluvias_1, .tabla_lluvias_2 {
    width: 70%;
    height: 30vh;
    margin: auto;
    border: 2px solid black; /* Borde sólido */
    border-collapse: collapse;
}

.casilla_lluvias th:nth-child(1),
.casilla_lluvias td:nth-child(1) {
    background-color: #41ade7;
    color: black;
}

.casilla_lluvias th:nth-child(2),
.casilla_lluvias td:nth-child(2),
.casilla_lluvias th:nth-child(3),
.casilla_lluvias td:nth-child(3) {
    background-color: #41ade7; /* Color para la primera celda de la columna 2 */
    color: black;
}

.casilla_lluvias td:nth-child(2):not(:first-child),
.casilla_lluvias td:nth-child(3):not(:first-child) {
    background-color: #e2f0fb; /* Otro color para las demás celdas de la segunda y tercera columna */
}

.panel {
    width: 25%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 100;
    padding-bottom: 0;
    padding-left: 0%;
    border-right: 2px solid black;
    background: #41ade7;
}

a{
    text-decoration: none;
}

.contenedor {
    width: 100%;
    position: relative;
    top: 190px;
    left: 3%;
}

.selectbox {
    width: 85%;
    position: relative;
}

.select {
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.16);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s ease all;
    margin-bottom: 3vh;
    padding: 2vh 1vw;
    position: relative;
    z-index: 200;
    border: 2px solid rgb(180, 180, 180);
}

.select.active,
.select:hover {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
    border: 2px solid #000000;
}

.select.active:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 15px solid #000000;
    border-right: 15px solid transparent ;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
}

.opciones {
    background: #fff ;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 40px;
    position: absolute;
    z-index: 500;
    width: 95%;
    display: none;
}

.opciones.active {
    display: block;
}

.contenido-opcion{
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
    color:#000000;
}

.opciones .contenido-opcion {
    padding: 30px;
}

.opciones .contenido-opcion:hover {
    background: #000000;
}

.opciones .contenido-opcion:hover .titulo-opcion{
    color: #fff;
}

/*-----------Acá empieza el segundo selector*/

.contenedor2 {
    width: 100%;
    position: relative;
    top: 190px;
    left: 3%;
}

.selectbox2 {
    width: 85%;
    position: relative;
}

.select2 {
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.16);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s ease all;
    margin-bottom: 3vh;
    padding: 2vh 1vw;
    position: relative;
    z-index: 200;
    border: 2px solid rgb(180, 180, 180);
}

.select2.active,
.select2:hover {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
    border: 2px solid #000000;
}

.select2.active:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 15px solid #000000;
    border-right: 15px solid transparent ;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
}

/*-----------Acá empiezan las características de las opciones de humedad relativa*/

.opciones2 {
    background: #fff ;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 30px;
    z-index: 200;
    width: 95%;
    display: none;
}

.opciones2.active {
    display: block;
}

.contenido-opcion2{
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
    color:#000000;
}

.opciones2 .contenido-opcion2 {
    padding: 30px;
}

.opciones2 .contenido-opcion2:hover {
    background: #000000;
}

.opciones2 .contenido-opcion2:hover .titulo-opcion2{
    color: #fff;
}

/*-----------Acá empiezan las características de las opciones de precipitaciones*/

.opciones3 {
    background: #fff ;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 30px;
    z-index: 200;
    width: 95%;
    display: none;
}

.opciones3.active {
    display: block;
}

.contenido-opcion3{
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
    color:#000000;
}

.opciones3 .contenido-opcion3 {
    padding: 30px;
}

.opciones3 .contenido-opcion3:hover {
    background: #000000;
}

.opciones3 .contenido-opcion3:hover .titulo-opcion3{
    color: #fff;
}
    
/*-----------Acá empiezan las características de las opciones de precipitaciones*/

.opciones4 {
    background: #fff ;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 30px;
    z-index: 200;
    width: 95%;
    display: none;
}

.opciones4.active {
    display: block;
}

.contenido-opcion4{
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
    color:#000000;
}

.opciones4 .contenido-opcion4 {
    padding: 30px;
}

.opciones4 .contenido-opcion4:hover {
    background: #000000;
}

.opciones4 .contenido-opcion4:hover .titulo-opcion4{
    color: #fff;
}

/*-----------Acá empiezan las características de las opciones de radiación solar*/

.opciones5 {
    background: #fff ;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 30px;
    z-index: 200;
    width: 95%;
    display: none;
}

.opciones5.active {
    display: block;
}

.contenido-opcion5{
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
    color:#000000;
}

.opciones5 .contenido-opcion5 {
    padding: 30px;
}

.opciones5 .contenido-opcion5:hover {
    background: #000000;
}

.opciones5 .contenido-opcion5:hover .titulo-opcion5{
    color: #fff;
}

/*-----------Acá empiezan las características de las opciones de temperatura*/

.opciones6 {
    background: #fff ;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 30px;
    z-index: 200;
    width: 95%;
    display: none;
}

.opciones6.active {
    display: block;
}

.contenido-opcion6{
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
    color:#000000;
}

.opciones6 .contenido-opcion6 {
    padding: 30px;
}

.opciones6 .contenido-opcion6:hover {
    background: #000000;
}

.opciones6 .contenido-opcion6:hover .titulo-opcion6{
    color: #fff;
}

/*-----------Acá empiezan las características de las opciones de viento*/

.opciones7 {
    background: #fff ;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 30px;
    z-index: 200;
    width: 95%;
    display: none;
}

.opciones7.active {
    display: block;
}

.contenido-opcion7{
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
    color:#000000;
}

.opciones7 .contenido-opcion7 {
    padding: 30px;
}

.opciones7 .contenido-opcion7:hover {
    background: #000000;
}

.opciones7 .contenido-opcion7:hover .titulo-opcion7{
    color: #fff;
}

/*-----------Rosa de los vientos*/


.rosavientos {
    margin-right: 2.5%;
    width: 70%;
    max-width: 70%;
    float:right;
    display: none; 
}

.rosavientos2 {
    margin-right: 2.5%;
    width: 70%;
    max-width: 70%;
    float:right;
    display: none; 
}

.titulo-rosavientos {
    font-size: 14px;
    text-align: center;
}

.descripcion-rosavientos {
    font-size: 12px;
    text-align: center;
    margin-bottom: 50px;
}

.rosa-container {
    float:right;
    width: 60%;
    display: none;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(12, 1fr);    
    gap: 10px; 
    margin-bottom: 10px;
    margin-right: 7.5%;
}

.rosa-item img {
    border: 1px solid #000;
    max-width: 100%;
    height: auto;
    display: block;
}

.ucr2 {
    position: absolute;
    width: 100%;
    bottom: 10%;
    text-align: center;
    z-index: -100;
    max-height: 40%;
}

#logo2 {
    width: 92%;
    border: 3px solid black;
}

#rosa-enero, #rosa-febrero, #rosa-marzo, #rosa-abril, #rosa-mayo, #rosa-junio, 
#rosa-julio, #rosa-agosto, #rosa-septiembre, #rosa-octubre, #rosa-noviembre, #rosa-diciembre{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.rosa-enero-grande, .rosa-abril-grande, .rosa-julio-grande, .rosa-octubre-grande {
    transform: scale(1.1) translateX(-10%); /* Agrandar la imagen */
    z-index: 600;
}
.rosa-enero-grande img, .rosa-abril-grande img, .rosa-julio-grande img, .rosa-octubre-grande img {
    border: 20px solid #005DA4;
    position: absolute;
}

.rosa-febrero-grande, .rosa-mayo-grande, .rosa-agosto-grande, .rosa-noviembre-grande {
    transform: scale(1.1) translateX(-10%); /* Agrandar la imagen */
    z-index: 600;
}
.rosa-febrero-grande img, .rosa-mayo-grande img, .rosa-agosto-grande img, .rosa-noviembre-grande img {
    border: 20px solid #005DA4;
    position: absolute;
}

.rosa-marzo-grande, .rosa-junio-grande, .rosa-septiembre-grande, .rosa-diciembre-grande {
    transform: scale(1.1) translateX(-10%); /* Agrandar la imagen */
    z-index: 600;
}
.rosa-marzo-grande img, .rosa-junio-grande img, .rosa-septiembre-grande img, .rosa-diciembre-grande img {
    border: 20px solid #005DA4;
    position: absolute;
}